header
  padding 10px
  border-bottom 1px solid #eee
  .header
    nav
      ul
        display flex
        justify-content flex-end
        align-items center
        li
          margin-left 20px
          a
            display block
            box-sizing border-box
            padding 5px 10px
            border 1px solid #000
            border-radius 5px
            color #000
            text-decoration none
          .register_btn
            background #0984e3
            color #fff
