.main
  .content
    margin 30px auto
    max-width 1100px
    width 80%
    h1
      padding-left 8px
      border-left 3px solid #0984e3
      font-weight bold
      font-size 18px
    form
      table
        margin 10px 0
        width 100%
        tr
          box-sizing border-box
          border-bottom 1px solid #ccc
          td
            box-sizing border-box
            padding 10px
            label
              display inline-block
              width 15%
            input
              padding 5px
              width 80%
              border 1px solid #ddd
              border-radius 5px
              &::placeholder
                color #ddd
      .btn_area
        display flex
        justify-content center
        align-items center
        button
          display block
          box-sizing border-box
          margin 10px auto
          padding 5px 10px
          width 200px
          border 1px solid #0984e3
          border-radius 5px
          background #0984e3
          color #fff
          text-align center
          &.reset
            border 1px solid #ddd
            background #ddd